{% extends "lab_4/layout/base.html" %}

{% block content %}
<html>
<body style="background-color:powderblue;">

<h1 style="font-family:verdana; font-size: 350%">HI! Welcome to my Portofolio</h1>
<hr/>
<section name="bio">
    <h2 style="font-family: verdana; font-size: 300%"><i>My Bio</i></h2>
    <p style="font-size: 150%">
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2><i> My Life Rule </i></h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<section name="form">
    <h2><i> Send Message </i></h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default" style="background-color:green; color:white; font-family: verdana">Submit</button>
    </form>
</section>

<hr/>

</body>
</html>
{% endblock %}
