{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 26px;
        font-family: "Comic Sans MS";
        text-decoration-color: brown;
    }
</style>
<div class="center_screen">
    <p class="status" id="test"><i>Hello, this is {{ name }}. {{ content }}.<i></p>
</div>
{% endblock %}